
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

.image {
  padding-right: 400px;
  float: right;
  position: relative;
}

#lives {
  position: absolute;
  top: 40%;
  left: 27%;
  transform: translate(-50%, -50%);
}

@keyframes delayResult {
  from {left: 0px;}
  to {left: 300px;}
}

@keyframes fade{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.result div {
  font-size: 20pt;
  color: red;
  position: relative;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
  padding-bottom: 200pt;
}

.houses {
  background-color: black;
}

td#Hufflepuffs {
  color: yellow;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td#Slytherins {
  color:green;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td#Ravenclaws {
  color: blue;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td#Gryffindors {
  color: red;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td {
  color: red;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
