@keyframes spin {

  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

/*  The element to apply the animation to */
/* div {
  width: 100px;
  height: 100px;
  animation-name: hat;
  animation: spin 6s infinite linear;
} */
.image {
  padding-right: 400px;
  float: right;
  position: relative;
}

#lives {
  position: absolute;
  top: 40%;
  left: 27%;
  transform: translate(-50%, -50%);
}

@keyframes fade{
  0% {
    opacity: 0;
}
  100%{
    opacity: 1;
}
}

@keyframes fadeInAndOut{
  0% {
    opacity: 0;
}
75% { opacity: 1; 
}
  100%{
    opacity: 0;
}
}

.result {
  font-size: 20pt;
  opacity: 0;
  color:red;
  position: relative;
  padding-bottom: 10pt;
}

.alternative div {
  font-size: 20pt;
  opacity: 1;
  color:blue;
  position: relative;
  animation: delayResult 5s ease-in 0s;
  animation-name: fadeInAndOut;
  animation-fill-mode: both;
  animation-duration: 10s;
  padding-bottom: 10pt;
}

  #return {
  font-size: 20pt;
  color: red;
}


.houses {
  background-color: black;
}

td#Hufflepuffs {
  color: yellow;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td#Slytherins {
  color:green;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td#Ravenclaws {
  color: blue;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td#Gryffindors {
  color: red;
  animation: delayResult 5s ease-in 2s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 2s;
}

td {
  color: red;
  animation: delayResult 5s ease-in 10s;
  animation-name: fade;
  animation-fill-mode: both;
  animation-duration: 10s;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

#toHide {
  padding-bottom: 10pt;
}

caption {
  text-align: left;
}

/* Hat */

#spinner {
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

#stage {
  perspective: 1200px;
  margin: 20px auto;
}

@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}